@model RoleModel
@{
    var btnText = Model.IsUpdate ? "Cập nhật" : "Tạo mới";
}


<h4>@ViewData["Title"]</h4>
@if (TempData["Status"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["Status"]
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="AddOrUpdate">
            <input type="hidden" asp-for="@Model.Id">
            <input type="hidden" asp-for="IsUpdate">
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" required>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <button id="add-or-edit-role" type="submit" class="btn btn-primary">
                @btnText
            </button>

            <a class="btn btn-primary" href="/Roles">Danh sách</a>
        </form>
    </div>
</div>